body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    font-size: 1.3em;
    flex-flow: column;
    height: 100vh;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}


.card{
    padding: 20px;
    background: #a5c7d7;
    margin: 50px auto;
    border-radius: 2px;
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
   h1{
    padding: 5px 0;
    text-align: center;
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
  }
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }